<div class="search-container">

  <span class="logo" [routerLink]="'/'">YassGame</span>
  <div>
    <!--  Mettre le logo  -->
    <img src="" alt="">
  </div>
  <div class="icons">
    <a href=""> <i class="fa fa-home"></i> </a>
    <a href=""><i class="fa fa-envelope"></i> </a>
  </div>
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmitForm(form)">
<!-- the logo redirect to the home page so I put just a slash in the routerlink path   -->

    <input class="search-input" name="search"
           ngModel  placeholder="Search around 30 000 games"/>
    <button class="search-button"> Search </button>
  </form>

  <a [routerLink]=" 'connexion' ">Connexion</a>
  <a [routerLink]=" 'inscription' ">Inscription</a>


</div>
